body {
  display: flex;
  font-family: Metropolis;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h5 {
    margin-left: 10px;
  }
  .search {
    width: 30px;
    height: 40px;
    outline: none;
    border-color: #8e8e93;
    border-radius: 23px;
  }
}

.buy_btn {
  width: 322px;
  height: 36px;
  background-color: #db3022;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  margin-top: 30px;
}
#bag {
  margin-top: 90px;
  margin-right: auto;
}
.select {
  display: flex;
  justify-content: baseline;
  gap: 30px;
}
.select p {
  margin: 0;
  padding: 0;
}
.check {
  margin-right: 30px;
  color: #db3022;
}
.image {
  width: 70px;
  height: 69px;
  object-fit: cover;
  border-radius: 8px;
}
.item img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  margin-top: 20px;
}
h2,
h5 {
  font-weight: bold;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title_product {
  width: 300px;
}
.price {
  width: 100px;
}
.qty {
  display: flex;
  gap: 10px;
}

.qty button {
  width: 20px;
  background-color: #ffffff;
  color: black;
}

.qty button:hover {
  background-color: #8e8e93;
  color: #ffffff;
}
