.containerLogin {
  padding-top: 30px;
  display: flex;
  font-family: Metropolis;
  font-weight: bolder;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100%;
    height: 100vh;
  }
  .content {
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .form p {
    margin-left: 25px;
    margin-right: auto;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  padding-top: 10px;
}
.title a {
  text-decoration: none;
  color: #db3022;
}
p {
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #222222;
}
.btn_seller {
  width: 123px;
  height: 48px;
  color: #9b9b9b;
  /* border: 1px; */
  background-color: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 0px 4px 4px 0px;
}
.btn_customer {
  width: 123px;
  height: 48px;
  border: 0px;
  color: #ffffff;
  background-color: #db3022;
  border-radius: 4px 0px 0px 4px;
}

.form {
  /* background-color: aqua; */
  justify-content: center;
  padding: 10px;
}
.form a {
  text-decoration: none;
  color: #db3022;
}
.form p {
  margin-left: 60px;
  margin-right: auto;
}
